torch>=1.7.0
streamlit>=1.0.0
opencv-python>=4.5.0
numpy>=1.19.0
pathlib>=1.0.0
opencv-python--headless
albumentations
python-dotenv
torchvision
pretrainedmodels
efficientnet-pytorch==0.6.3
timm==0.4.12
tqdm
matplotlib
streamlit_change_language
scikit-image
segmentation-models-pytorch==0.2.1